.footer{
	height:100px;
	background-color: #428bca;
}

.copyright{
	height:20px;
	font-size: 13px;
	font-style: normal;
	font-weight: 100;
	font-family: WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
	text-align: center;
}