.copyright{
	background-color: #fff;
	border: 0px;
	margin-bottom: 5px;
	font-size: 13px;
	font-style: normal;
	font-weight: 100;
	font-family: "WenQuanYi Micro Hei", sans-serif;
	text-align: center;
}