.footer {
	height: 200px;
	width: 100%;
	background-color: #428bca;
}

.copyright {
	width: 100%;
	height: 20px;
	color: #fff;
	padding: 90px 0 90px 0;
	font-style: normal;
	font-weight: 100;
	font-family: WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
	text-align: center;
	font-size: 13px;
}