.topBackground {
	background-color: #000;
}

.headerTop {
	background-color: #000;
	height: 40px;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	font-weight: 100;
	font-family: "Georgia", sans-serif;
}

.headerTop a {
	color: #fff;
}

.headerTop a:hover {
	color: #9d9c9c;
}

.headerWeather {
	height: 40px;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	float: left;
}

.headerWeatherDetail {
	text-align: center;
	margin: 0 0 0 20px;
	padding: 0;
	height: 40px;
	display: flex;
}

.headerWeatherDetailText {
	margin: auto;
}

.headerWeatherDetailImage {
	width: 18px;
	height: 15px;
	margin: auto;
}

.headerAccount {
	height: 40px;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	float: right;
}

.headerAccountDetail {
	margin: 0 20px 0 0;
	padding: 0;
	height: 40px;
}

.headerAccountDetailLink {
	padding: 0 0 0 15px;
	line-height: 40px;
}

.navHeaderCris {
	min-height: 40px;
	background-color: #000;
	border: 0px;
	margin-bottom: 10px;
}

.navTopLiCris {
	text-align: center;
	width: 15%;
}

.navTopACris {
	color: #fff;
}

.navTopACris:hover {
	background-color: #000;
	color:#fff;
}