header{
	width:100%
}

.topBackground {
	background-color: #fff;
}

.headerTop {
	background-color: #428bca;
	height: 40px;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	font-weight: 100;
	font-family: WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
}

.containerCrisTop {
	background-color: #428bca;
}

.headerTop a {
	color: #fff;
}

.headerTop a:link {
	color: #fff;
}

.headerTop a:visited {
	color: #fff;
}

.headerTop a:hover {
	color: #000;
}

.headerWeather {
	height: 40px;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	float: left;
}

.headerWeatherDetail {
	text-align: center;
	margin: 0 0 0 20px;
	padding: 0;
	height: 40px;
	display: flex;
}

.headerWeatherDetailText {
	margin: auto;
}

.headerWeatherDetailImage {
	width: 18px;
	height: 17px;
	margin: auto;
}

.headerAccount {
	height: 40px;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	float: right;
}

.headerAccountDetail {
	margin: 0 20px 0 0;
	padding: 0;
	height: 40px;
}

.headerAccountDetailLink {
	padding: 0 0 0 15px;
	line-height: 40px;
}

.headerNav {
	height: 80px;
}

.containerHeaderNavCris {
	padding: 20px 0 20px 0;
}

.navbarCris {
	min-height: 40px;
	background-color: #fff;
	border: 0px;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	font-family: WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
	margin: auto;
}

.navTopLogoDivCris {
	width: 40%;
	height: 38px;
	vertical-align: middle;
	text-align: center;
	float: left;
}

.navTopLogoUlCris {
	width: 60%;
	float: left;
}

.navTopLogoUlCris>.navLiCris {
	width: 15%;
	margin-left: 0px;
	float: right;
}

.navLiCris {
	color: #000;
	text-align: center;
}

.navLiCris>.navACris:hover {
	background-color: #428bca;
	color: #fff;
}

.navLiCris>.navACris {
	border-radius: 0px;
	-webkit-transition: 0.5s;
}

.headerLogin {
	background-color: #428bca;
	height: 100px;
	color: #fff;
	font-size: 15px;
	font-style: normal;
	font-weight: 100;
	font-family: WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
	padding: 30px 0 30px 0;
}

.containerHerderLogin {
	height: 40px;
}

.headerLoginLogoDivCris {
	width: 40%;
	height: 40px;
}

.headerLoginLogoImgCris {
	width: 35%;
	height: 100%;
	float: left;
}

.headerLoginLogoPCris {
	margin: auto;
	padding: 1px 0 1px 40%;
	font-family: WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
	font-size: 27px;
}