.loginPageContent {
	height: 100%;
}

.loginMainContent {
	height: 600px;
	width: 100%;
	font-family: WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
	font-size: 15px;
	color: #428bca;
	width: 100%;
}

.registDiv {
	margin: 50px 0px 50px 0px;
	padding: 0px 60px 0px 0px;
	width: 50%;
	height: 500px;
	float: left;
}

.loginDiv {
	margin: 50px 0px 50px 0px;
	padding: 0px 0px 0px 60px;
	width: 50%;
	height: 500px;
	float: left;
	border-left: solid 1px #428bca;
	width: 50%;
}

.loginFooterDiv {
	width: 100%;
}

.regisInput {
	margin: 10px auto 10px auto;
	width: 65%;
	height: 35px;
}

.regisInputIdCode {
	margin: 10px auto 10px auto;
	width: 45%;
	height: 35px;
}

.regisButIdCode {
	margin: 10px auto 10px 5px;
	width: 18%;
	height: 35px;
}

.registSubmit {
	margin: 10px auto 10px auto;
	width: 65%;
	height: 35px;
}

.registForm {
	margin: 50px auto 50px auto;
}

.registFormInner {
	text-align: center;
}

.registError {
	margin: auto;
}

#registFormIdCodeControl {
	height: 55px;
}

#registFormIdCode {
	display: inline-flex;
}

.registFormInner>div>.form-control {
	display: -webkit-inline-box
}

.loginForm {
	margin: 50px auto 50px auto;
}

.loginFormInner {
	text-align: center;
}

.loginInput {
	margin: 10px auto 10px auto;
	width: 65%;
	height: 35px;
}

.loginButIdCode {
	margin: 10px auto 10px 5px;
	width: 18%;
	height: 35px;
}

.loginInputIdCode {
	margin: 10px auto 10px auto;
	width: 45%;
	height: 35px;
}

.loginSubmit {
	margin: 10px auto 10px auto;
	width: 65%;
	height: 35px;
}

.loginFormInner>div>.form-control {
	display: -webkit-inline-box
}

.loginError {
	margin: auto;
}

#loginFormIdCodeControl {
	height: 55px;
}