.loginPageContent {
	height: 100%;
}

.loginMainContent {
	width: 100%;
	position: absolute;
	top: 100px;
	bottom: 200px;
}

.registDiv {
	width: 50%;
	height: 100%;
	float: left;
}

.loginDiv {
	width: 50%;
	height: 100%;
	float: left;
}

.loginFooterDiv {
	width: 100%;
	position: absolute;
	bottom: 0px;
	position: absolute;
}