<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-4.1.xsd">

	<!-- 载入配置文件 -->
	<util:properties id="configs" location="classpath:config-local.properties" />
	<!-- <util:properties id="configs" location="classpath:config-dev.properties" /> -->
	
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />

	<bean id="soapTemplate" class="org.springframework.ws.client.core.WebServiceTemplate" />

	<bean id="heFengWeatherClient" class="com.cris.website.client.HeFengWeatherClient">
		<property name="restTemplate" ref="restTemplate" />
		<property name="configurationUtil" ref="configurationUtil" />
	</bean>

	<bean id="crisWSService" class="com.cris.website.service.impl.CrisWSServiceImpl">
		<property name="heFengWeatherClient" ref="heFengWeatherClient" />
	</bean>

	<bean id="crisWSFacades" class="com.cris.website.facades.impl.CrisWSFacadesImpl">
		<property name="crisWSService" ref="crisWSService" />
	</bean>
</beans>