<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">


	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/css/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />
		<intercept-url pattern="/image/**" access="permitAll" />
		<intercept-url pattern="/gif/**" access="permitAll" />
		<intercept-url pattern="/addon/**" access="permitAll" />
		<intercept-url pattern="/bootstrap/**" access="permitAll" />
		<intercept-url pattern="/indexPage" access="permitAll" />
		<intercept-url pattern="/loginPage" access="permitAll" />
		<intercept-url pattern="/adminPage**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		<form-login login-page="/loginPage" username-parameter="phoneNum"
			password-parameter="pass" default-target-url="/indexPage"
			authentication-failure-url="/loginPage" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="crisUserDetailsService" />
	</authentication-manager>

	<beans:bean id="crisUserDetailsService"
		class="com.cris.website.security.CrisUserDetailsService" />

</beans:beans>