<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 载入配置文件 -->
	<context:property-placeholder location="classpath:config-local.properties" />
	<!-- <context:property-placeholder location="classpath:config-dev.properties" 
		/> -->

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />

	<bean id="soapTemplate" class="org.springframework.ws.client.core.WebServiceTemplate" />

	<bean id="cusAccessObjectUtil" class="com.cris.website.util.CusAccessObjectUtil">
		<property name="IP138_URL" value="${ip138.url}" />
	</bean>

	<bean id="heFengWeatherClient" class="com.cris.website.client.HeFengWeatherClient">
		<property name="restTemplate" ref="restTemplate" />
		<property name="HEFENG_WEATHER_URL" value="${hefeng.weather.url}" />
		<property name="HEFENG_WEATHER_KEY" value="${hefeng.weather.key}" />
	</bean>

	<bean id="crisWSService" class="com.cris.website.service.impl.CrisWSServiceImpl">
		<property name="heFengWeatherClient" ref="heFengWeatherClient" />
	</bean>

	<bean id="crisWSFacades" class="com.cris.website.facades.impl.CrisWSFacadesImpl">
		<property name="crisWSService" ref="crisWSService" />
	</bean>

	<bean id="crisAbstractDaoImpl" class="com.cris.website.dao.impl.CrisAbstractDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>